.venv
**/.env
**/__pycache__
Etapa01_CapturaDeImagensParaTreino/dataset/*
Etapa01_CapturaDeImagensParaTreino/data/*
Etapa02_Corrrecao_De_Labels/data/*
Etapa03_TreinamentoDoModelo/*/
Etapa03_TreinamentoDoModelo/yolo*